@import '../../reources';
.error {
  text-align: center;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  & h1 {
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 30px;
  }
  & img {
    width: 60%;
    @include mobile-600 {
      width: 100%;
    }
  }
  & button {
    background: #090e16;
    padding: 10px 0;
    border: none;
    color: white;
    font-weight: 600;
    &:hover {
      color: #090e16;
      border: 1px solid #090e16;
      background: none;
    }
    width: 150px;
  }
}
